{% include 'overall_header.html' %}

<h1>{{ lang('SETTINGS') }}</h1>
{{ ACP_CLOUDFLARE_SETTINGS_EXPLAIN }}

{% if VALIDATION_ERRORS %}
<div class="errorbox">
	{% for ERROR in VALIDATION_ERRORS %}
	<p>{{ ERROR.MESSAGE }}</p>
	{% endfor %}
</div>
{% endif %}

<form id="cloudflare_settings" method="POST" action="{{ U_ACTION }}">

	<fieldset>
		<legend>{{ lang('GENERAL_SETTINGS') }}</legend>
		<dl>
			<dt>
				<label for="cloudflare_api_token">{{ lang('ACP_CLOUDFLARE_API_TOKEN') ~ lang('COLON') }}</label>
				<br><span>{{ lang('ACP_CLOUDFLARE_API_TOKEN_EXPLAIN') }}</span>
			</dt>
			<dd>
				<input type="password" id="cloudflare_api_token" name="cloudflare_api_token"{% if CLOUDFLARE_API_TOKEN %} value="{{ CLOUDFLARE_API_TOKEN }}"{% endif %} required="required" autocomplete="off" class="medium tw-font-mono tw-text-xs cloudflare-secret">
				<span class="toggle-cloudflare-secret" title="{{ lang('ACP_CLOUDFLARE_TOGGLE_SECRET', lang('TURNSTILE_SECRET'))|striptags|escape('html_attr') }}">
					<i class="icon acp-icon acp-icon-resync fa-eye fa-fw" aria-hidden="true"></i>
				</span>
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="cloudflare_zone_id">{{ lang('ACP_CLOUDFLARE_ZONE_ID') ~ lang('COLON') }}</label>
				<br><span>{{ lang('ACP_CLOUDFLARE_ZONE_ID_EXPLAIN') }}</span>
			</dt>
			<dd>
				<input type="password" id="cloudflare_zone_id" name="cloudflare_zone_id"{% if CLOUDFLARE_ZONE_ID %} value="{{ CLOUDFLARE_ZONE_ID }}"{% endif %} required="required" autocomplete="off" class="medium tw-font-mono tw-text-xs cloudflare-secret">
				<span class="toggle-cloudflare-secret" title="{{ lang('ACP_CLOUDFLARE_TOGGLE_SECRET', lang('TURNSTILE_SECRET'))|striptags|escape('html_attr') }}">
					<i class="icon acp-icon acp-icon-resync fa-eye fa-fw" aria-hidden="true"></i>
				</span>
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('CAPTCHA_TURNSTILE') }}</legend>
		<dl>
			<dt>
				<label for="turnstile_force_login">{{ lang('TURNSTILE_FORCE_LOGIN') ~ lang('COLON') }}</label>
				<br><span>{{ lang('TURNSTILE_FORCE_LOGIN_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" id="turnstile_force_login" name="turnstile_force_login" value="1"{% if TURNSTILE_FORCE_LOGIN %} checked="checked"{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" name="turnstile_force_login" value="0"{% if not TURNSTILE_FORCE_LOGIN %} checked="checked"{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
		<p class="submit-buttons">
			<input type="reset" class="button2" value="{{ lang('RESET') }}">
			<input type="submit" name="submit" class="button1" value="{{ lang('SUBMIT') }}">
		</p>
	</fieldset>

	{{ S_FORM_TOKEN }}
</form>

{% include 'overall_footer.html' %}
